.row
  .col-xs-12
    %h1 #{ @currency.code } - #{ @currency.name }

    .list-group
      - @currency.countries.each do |country|
        = link_to '', class: 'list-group-item visit-country', data: { 'country-id' => country.id, visited: country.visited? } do
          %h4.list-group-item-heading
            - if country.visited?
              %span.label.label-success Visited
            #{ country.name } [ #{ country.code } ]
          %p.list-group-item-text Has #{ country.currencies.count } #{ 'currency'.pluralize(country.currencies.count) }
