.navbar-header
  %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button'}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{href: '/'} Money Collector
#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button'}
        Currencies
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Available', currencies_path
        %li
          = link_to 'Collected', currencies_path(collected: true)
        %li
          = link_to 'Not collected', currencies_path(not_collected: true)
    %li.dropdown
      %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button'}
        Countries
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Available', countries_path
        %li
          = link_to 'Visited', countries_path(visited: true)
        %li
          = link_to 'Not visited', countries_path(not_visited: true)
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href => 'login'} Login
